.UDContainer {
    position: absolute;
    padding-top: 1vh;
    left: 14vw;
    /* background-color: khaki; */
    width: 80%;
    display: flex;
    flex-direction: column;
}

.titleHead {
    font-size: 4vh;
    font-weight: bold;
}

.desc {
    font-size: 1.5vh;
    padding-bottom: 2.5vh;
}

.card {
    background-color: rgb(230, 230, 230);
    padding: 1vh;
    border: 2px solid rgb(134, 134, 134);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.cardText {
    font-size: 1.75;
    font-weight: bold;
    padding-bottom: 1vh;
}

.searchBar {
    width: 60%;
    height: 2vh;
    font-size: 2vh;
    padding-left: 3px;
    margin-left: 5px;
}

.submitButton {
    width: 8vw;
    height: 3vh;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 4px;
}

.output{
    margin-top: 2vh;

}

